svg {
    g{
        transform-origin: 0px 0px;
    }
    text {
        font-size: 14px;
        fill: black;
    }
    .line {
        stroke: black;
        stroke-width: 2;
        fill: transparent;
    }
    .box {
        cursor: move;
        &__background {
            fill: #f2f2f2;
            stroke: black;
            stroke-width: 1;
        }
        &__subject {
            font-size: 18px;
        }
        &__description {
            transform: translateY(22px);
        }
        
        &__output {
            
        }
        &__input, &__output{
            fill: white;
            stroke: black;
            stroke-width: 2;
        }
        &__connection {
            cursor: crosshair;
            fill: transparent;
        }
        &__connection.react-draggable-dragging {
            pointer-events: none;
        }
    }
    .connection {
        stroke: black;
        stroke-width: 2;
        fill: transparent;
    }
}

body.react-draggable-dragging {
    svg {
        .box {
            &__input:hover {
                cursor: copy;
                fill: pink;
            }
        }
    }
}
