.flow__boxes {
    &__item {
        cursor: move;
        &__rect {
            fill: #f9f9f9;
            stroke: #999;
            stroke-width: 1px;
            transition: fill 0.2s ease-out;
            &:hover{
                fill: #e9e9e9;
            }
        }
        &__content {
            pointer-events: none;
        }
        &__subject {
            font-size: 18px;
            font-weight: 300;
        }
        &__description { 
            font-size: 14px;
            transform: translateY(20px);
        }
    }
}