$header-height: 56px;
header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: $header-height;
    background-color: #121212;
}
main {
    height: 100%;
    padding-top: $header-height;
}

#pods {
    background-color: #2B2D30;
    color: #E5E5E5;
}
.flow {
    background-color: #1E2022;
    color: #E5E5E5;
}
#status {
    background-color: #2B2D30;
    color: #E5E5E5;
}